/* JayVii (JV)
 * https://www.jayvii.de/
 * jayvii@riseup.net */

/* General */
body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: #edf0f5;
  color: #000000;
  overflow: auto;
  font-family: Sans;
  /*font-size: 20px;*/
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -ms-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased}

/* Other */
div#site{
  height: 100%;
  min-height: 100%}
html>body #site {height:auto}

/* Header */
.header{
  /* make always full size */
  padding: 0px;
  width: 100%;
  width: 100%;
  float: center;}

/* Navigation */
div#navigation{
  border: 1px solid #000000;
  background: #c6040e;
  font-size: 18px;
  height: 22px;
  position: relative;
  left: 0.5%;
  width: 99%}
div#mysites{
  float: right;
  padding-right: 0.5%;
  display: inline-block}
div#thissite{
  float: left;
  padding-left: 0.5%;
  display: inline-block}

/* Content */
div#contentbox{
  float: center;
  margin: auto;
  height: 300px;
  padding: 2.5%}
div#content{
  float: center;
  text-align: left;
  height: 100%;
  font-size: 100%}
div#contentimg{
  text-align:center;
  font-size: 80%;
  float: center;
  padding: 1%;
  width: 90%;
  display: inline-block}

/* Lists */
div#lists{
  max-width: 95%;
  margin: auto;
  padding: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  font-size: 100%}
div#projects{
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
  display: inline-block;
  list-style: none;
  text-align: left}
div#recommend{
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
  display: inline-block;
  list-style: none;
  text-align: left}

/* Footer */
div#footer{
  padding: 1%;
  margin: auto;
  float: right;
  height: 90%;
  width: 100%;
  display: inline-block;
  font-size: 80%;
  text-align: right;
  overflow: auto;
  border-top: 1px solid #000000;}

/* URLs */
a{
  color: #000000;
  text-decoration: none}
a:hover{
  color: #000000;
  background: rgba(0,0,0,0.1)}

/* Font-Types */
p{
  color: #000000;
  letter-spacing: 2px;
  border-bottom: 2px solid #000000}
