/* JayVii (JV)
 * https://www.jayvii.de/
 * jayvii@riseup.net */

/* General */
body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: #130405;
  color: #ffffff;
  overflow: auto;
  font-family: Sans;
  /*font-size: 20px;*/
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -ms-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased}

/* Other */
div#site{
  height: 100%;
  min-height: 100%}
html>body #site {height:auto}

/* Header */
.header{
  /* make always full size */
  padding: 0px;
  width: 100%;
  width: 100%;
  float: center;}

/* Navigation */
div#navigation{
  background: #400e12;
  border: 2px solid #000000;
  font-size: 120%;
  position: relative;
  left: 0.05%;
  width: 99.9%}
div#lang{
  float: right;
  max-width: 33.3%;
  display: inline-block}
div#mysites{
  width: 33.3%;
  display: inline-block}
div#thissite{
  float: left;
  width: 33.3%;
  display: inline-block}

/* Content */
div#contentbox{
  float: center;
  margin: auto;
  padding: auto;
  padding-top: 5%}
div#content{
  text-align: center;
  font-size: 90%}

/* Lists */
div#lists{
  max-width: 95%;
  margin: auto;
  padding: auto;
  padding-top: 5%;
  text-align: center;
  font-size: 100%}
div#projects{
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
  display: inline-block;
  list-style: none;
  text-align: left}
div#recommend{
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
  display: inline-block;
  list-style: none;
  text-align: left}

/* Footer */
div#footer{
  padding-top: 4%;
  margin: auto;
  float: right;
  height: 90%;
  width: 100%;
  display: inline-block;
  font-size: 80%;
  text-align: right;
  overflow: auto}

/* URLs */
a{
  color: #ffffff;
  text-decoration: none}
a:hover{
  color: #ffffff;
  background: rgba(255,255,255,0.1)}

/* Font-Types */
p{
  color: #ffffff;
  letter-spacing: 2px;
  border-bottom: 2px solid #D0D1CC;
  }
