/* JayVii (JV)
 * https://www.jayvii.de/
 * jayvii@riseup.net */

/* General {{{ */
body{
  height: 100%;
  margin: 0%;
  padding: 0%;
  background: #ffffff;
  color: #000000;
  overflow: auto;
  font-family: Sans;
  font-size: 140%;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -ms-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased}
/* }}} */

/* Border-Class {{{ */
.border{
  height: 100%;
  width: 96%;
  padding: 0px;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block}
/* }}} */

/* Header {{{ */
/*div#header{
  padding: 0px;
  margin: 0px;
  margin-left: 1.7%;
  margin-right: 0%;
  margin-bottom: -5px;
  float: left;
  width: auto;
  max-height: 80%;
  width: 98%}
.stretch{
  width: 100%;
  height: 100%}*/
/* }}} */

/* Headline {{{ */
div#headline{
  font-size: 100%;
  font-family: Sans;
  color: #000000;
  text-align: center;
  padding-bottom: 2%}
/* }}} */

/* Search {{{ */
.search{
  width: 50%;
  height: 18px;
  padding: 5px;
  margin-top: 7%;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid #000000;
  text-align: center}
.search:hover{
  border:1px solid #999999}
.search:focus{
  border:1px solid #999999}
/* }}} */

/* Site {{{ */
/*div#site{
  background-image: linear-gradient(to bottom, rgba(255,255,255,255), rgba(0,0,0,0.1));
  padding: 0px}*/
/* }}} */

/* Dictionary {{{ */
div#dictionary{
  border-left: thick solid #b3b3b3;
  font-family: Times;
  margin: auto;
  margin-top: 7%;
  margin-bottom: 10%;
  height: 100%;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  color: #000000}
/* }}} */

/* Text {{{ */
div#text{
  font-family: Times;
  font-size: 80%;
  height: 100%;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  margin-bottom: 5%}
/* }}} */

/* PostContent {{{ */
div#postconten{
  font-family: Times;
  font-size: 50%;
  text-align: left;
  height: 100%;
  width: 100%;
  overflow: auto}
/* }}} */

/* Date {{{ */
div#date{
  text-align: right}
/* }}} */

/* FAQ {{{ */
div#faq{
  font-family: Sans;
  font-size: 60%;
  height: 100%;
  width: 40%;
  text-align: left;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 2%}
/* }}} */

/* Feeds {{{ */
div#feeds{
  padding: 0%;
  text-align: center;
  color: #606060;
  height: 100%;
  width: 70%;
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%}
/* }}} */

/* Bookmarks {{{ */
div#bookmarks{
  padding: 1%;
  text-align: center;
  color: #606060;
  height: 100%;
  width: 70%;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%}
.bookmarks{
  text-align: center;
  display: inline-block;
  padding: 1%;
  padding-top: 2.2%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-repeat: no-repeat;
  background-position: center top}
.bookmarks a{
  color: #ffffff;
  text-shadow: 0px 0px 2.5px #000000;
  font-size: 80%}
.bookmarks a:hover{
  color: #000000;
  text-shadow: 0px 0px 3.5px #606060}
div#bm1{
  background-image: url("./media/reddit_linux.svg");
  background-size: 30%}
div#bm2{
  background-image: url("./media/reddit_generic.svg");
  background-size: 23%}
div#bm3{
  background-image: url("./media/reddit_dataisbeautiful.svg");
  background-size: 15%}
div#bm4{
  background-image: url("./media/rproject.svg");
  background-size: 25%}
div#bm5{
  background-image: url("./media/editor_generic.svg");
  background-size: 25%}
div#bm6{
  background-image: url("./media/reddit_latex.svg");
  background-size: 70%}
div#bm7{
  background-image: url("./media/rproject.svg");
  background-size: 25%}
div#bm8{
  background-image: url("./media/blog.svg");
  background-size: 25%}
div#bm9{
  background-image: url("./media/jv_git.svg");
  background-size: 33%}
div#bm10{
  background-image: url("./media/jv_feed.svg");
  background-size: 26%}
div#bm11{
  background-image: url("./media/twitter.svg");
  background-size: 22%}
div#bm12{
  background-image: url("./media/mastodon.svg");
  background-size: 22%}
/* }}} */

/* Footer {{{ */
div#footer{
  border-bottom: thin solid #606060;
  padding: 0.5%;
  margin: auto;
  margin-bottom: 5%;
  float: right;
  height: 90%;
  width: 99%;
  display: inline-block;
  font-size: 70%;
  text-align: right;
  overflow: auto}
/* }}} */

/* URLs {{{ */
a{
  color: #606060;
  text-decoration: none}
a:hover{
  color: #999999}
/* }}} */
