/* JayVii (JV)
 * https://www.jayvii.de/
 * jayvii@riseup.net */

/* General {{{ */
body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: #ffffff;
  color: #000000;
  overflow: auto;
  font-family: Sans;
  font-size: 18px;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -ms-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased}
/* }}} */

/* Border-Class {{{ */
.border{
  height: 100%;
  width: 96%;
  padding: 0px;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block}
/* }}} */

/* Header {{{ */
div#header{
  padding: 0px;
  margin: 0px;
  margin-left: 1.7%;
  margin-right: 0%;
  margin-bottom: -5px;
  float: left;
  width: auto;
  max-height: 80%;
  width: 98%}
.stretch{
  width: 100%;
  height: 100%}
/* }}} */

/* Search {{{ */
.search{
  width: 50%;
  height: 18px;
  padding: 5px;
  margin-top: 7%;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid #000000;
  text-align: center}
.search:hover{
  border:1px solid #999999}
.search:focus{
  border:1px solid #999999}
/* }}} */

/* Site {{{ */
/*div#site{
  background-image: linear-gradient(to bottom, rgba(255,255,255,255), rgba(0,0,0,0.1));
  padding: 0px}*/
/* }}} */

/* Dictionary {{{ */
div#dictionary{
  border-left: thick solid #b3b3b3;
  font-family: Times;
  margin: auto;
  margin-top: 7%;
  margin-bottom: 10%;
  height: 100%;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  color: #000000}
/* }}} */

/* Text {{{ */
div#text{
  font-family: Times;
  height: 100%;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  margin-bottom: 5%}
/* }}} */

/* Bookmarks {{{ */
div#bookmarks{
  padding: 1%;
  text-align: center;
  color: #606060;
  height: 100%;
  width: 50%;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%}
.bookmarks{
  text-align: center;
  display: inline-block;
  padding: 0.5%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
  margin-bottom: 2%}
div#bm1{
  border: 2px solid #93996b}
div#bm2{
  border: 2px solid #70a19d}
div#bm3{
  border: 2px solid #92b8d2}
div#bm4{
  border: 2px solid #898cc4}
div#bm5{
  border: 2px solid #d394b3}
div#bm6{
  border: 2px solid #dc9c9b}
div#bm7{
  border: 2px solid #cb9f8d}
div#bm8{
  border: 2px solid #b5a87e}
div#bm9{
  border: 2px solid #fde8b0}
div#bm10{
  border: 2px solid #70a1a1}
div#bm11{
  border: 2px solid #5c7983}
div#bm12{
  border: 2px solid #2e3e42}
/* }}} */

/* Footer {{{ */
div#footer{
  border-bottom: thin solid #606060;
  padding: 0.5%;
  margin: auto;
  margin-bottom: 5%;
  float: right;
  height: 90%;
  width: 99%;
  display: inline-block;
  font-size: 70%;
  text-align: right;
  overflow: auto}
/* }}} */

/* URLs {{{ */
a{
  color: #606060;
  text-decoration: none}
a:hover{
  color: #999999}
/* }}} */
